*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Общие классы */

.wrapper{
    width: 81.11%;
    margin: 0 auto;
}

/* Секция heading */

.heading{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #181818;
}

.heading__menu{
    list-style: none;
}

.heading__menu a{
    color: #ffffff;
    font-size: 15px;    
    font-weight: 400;
    line-height: 20px;    
    transition: 0.3s;
}

.heading__menu a:hover{
    color: #ffffff9f;    
}

.heading__template{
    margin-top: 15px;
    height: 43.6px;
}

.heading__template a {
    display: inline-block;
    border-radius: 14px;
    background: #fff;
    padding: 9px 20px 13px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    transition: 0.3;
}

.heading__template a:hover{
    background-color: #ffffff55;
    color: #fff;
    border-radius: 0px;
    border: 1px solid #fff;
}

/* Секция heading_content */

.heading_content{
    padding-top: 461px;
    padding-bottom: 41px;
    color: #fff;
    background-image: url(img/bg-heading.png);
    background-repeat: none;
    background-size: cover;
} 

.heading_content h4{
    color: #c0c0c0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.heading_content h1{
    color: #ffffff;
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    line-height: 59.4px; 
    margin-bottom: 18px;
}

.heading_content p{
    width: 580px;
    color: #c0c0c0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    margin: 0 auto;
}

.icon-item{
    text-align: right;
    margin-right: 40px;
}

/* Секция what */

.what{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #000000;
}

.what__heading{
    margin-bottom: 42px;
}

.what__heading h2{
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 15px;
}

.what__heading p{
    color: #c0c0c0;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
}

.what__block-item{
    width: 576px;
    height: 600px;
    padding: 421px 30px 30px 30px;
}

.what-1{
    background-image: url(img/what-1.png);
}

.what-2{
    background-image: url(img/what-2.png);
}

.what__block-item h4{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.what__block-item p{
    color: #c0c0c0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    margin-bottom: 15px;
}


 .block-item__img{
    width: 143px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #ffffff;
    padding: 5px;
    display: flex;
    gap: 6px;
    transition: 0.3s;
 } 
 
 .block-item__img a{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.4px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
 }

 .block-item__img:hover{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: .4;
 }